<!DOCTYPE html>
<html>
<head>
<title>Furkan Cayci</title>
</head>

<body>
<h3>I want to play a game!<h3>
<form action="/board" method="post">

    <p>Choose the dimensions of the board:</p>

<p>Row: </p>
<select name="row">
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="10">10</option>
</select>

<p>Column: </p>
<select name="column">
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="10">10</option>
</select>

<br /> <br />
<button type="submit" class="btn btn-primary">Start the game!</button>
</form>

</body>
</html>
